/*
    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* --------------------------------------- */
/* ---------- Typography System ---------- */
/*
- Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

- Line heights
    Default: 1
    1.1
    1.6
    2

- Letter spacing
    N/A
*/
/* ---------- Typography System ---------- */
/* --------------------------------------- */

/* ---------------------------- */
/* ---------- Colors ---------- */
/*
- Primary:
    #006B57

- Accents:
    #9F0016
    #A76A00
    #0A326E

- Tints:
    20% - #338978
    40% - #66a69a
    50% - #80b5ab
    60% - #99c4bb
    80% - #cce1dd

- Shades:
    20% - #005645
    40% - #004034
    50% - #00362b
    60% - #002b22
    80% - #001511

- Greys
    #232D42
    Shades (10%) - #
    Tints (10%) - #

- Texts:
    #e6f0ee

- Background Color:
    rgba(0, 107, 87, 0.15)
    #fff
*/
/* ---------- Colors ---------- */
/* ---------------------------- */

/* ----------------------------- */
/* ---------- Shadows ---------- */
/*
    0 15px 30px 0 rgba(0, 0, 0, 0.1)
*/
/* ---------- Shadows ---------- */
/* ----------------------------- */

/* ----------------------------------- */
/* ---------- Border Radius ---------- */
/*
    Default: 20px
*/
/* ---------- Border Radius ---------- */
/* ----------------------------------- */

/* -------------------------------- */
/* ---------- Whitespace ---------- */
/*
    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* ---------- Whitespace ---------- */
/* -------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------------------- */
/* ---------- General ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
}

ul {
  list-style: none;
}
/* ---------- General ---------- */
/* ----------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
