/*
    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* --------------------------------------- */
/* ---------- Typography System ---------- */
/*
- Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

- Line heights
    Default: 1
    1.1
    1.6
    2

- Letter spacing
    N/A
*/
/* ---------- Typography System ---------- */
/* --------------------------------------- */

/* ---------------------------- */
/* ---------- Colors ---------- */
/*
- Primary:
    #006B57

- Accents:
    #9F0016
    #A76A00
    #0A326E

- Tints:
    20% - #338978
    40% - #66a69a
    50% - #80b5ab
    60% - #99c4bb
    80% - #cce1dd

- Shades:
    20% - #005645
    40% - #004034
    50% - #00362b
    60% - #002b22
    80% - #001511

- Greys
    #232D42
    Shades (10%) - #
    Tints (10%) - #

- Texts:
    #e6f0ee

- Background Color:
    rgba(0, 107, 87, 0.15)
    #fff
*/
/* ---------- Colors ---------- */
/* ---------------------------- */

/* ----------------------------- */
/* ---------- Shadows ---------- */
/*
    0 15px 30px 0 rgba(0, 0, 0, 0.1)
*/
/* ---------- Shadows ---------- */
/* ----------------------------- */

/* ----------------------------------- */
/* ---------- Border Radius ---------- */
/*
    Default: 20px
*/
/* ---------- Border Radius ---------- */
/* ----------------------------------- */

/* -------------------------------- */
/* ---------- Whitespace ---------- */
/*
    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* ---------- Whitespace ---------- */
/* -------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------------------- */
/* ---------- General ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #0a1b2b;
}

ul {
  list-style: none;
}
/* ---------- General ---------- */
/* ----------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------------------- */
/* ---------- Default ---------- */
.primary_header-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #00815c;
  margin-bottom: 2.4rem;
}
.primary_header-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #4f4f4f;
  margin-bottom: 1.6rem;
}

.primary_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.primary_input {
  display: block;
  width: 100%;
  height: 5.2rem;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  outline: none;
  border-radius: 0.4rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.2rem 2.4rem;
}
.primary_input:focus {
  border: 2px solid #00815c;
}

.primary_select-box {
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  /* border: 2px solid #00815c; */
  border-radius: 0.4rem;
  padding: 1.05rem 2.4rem;
}
.primary_select {
  display: block;
  width: 100%;
  background-color: #eeeeee;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.primary_upload--photo {
  width: 50%;
  height: 25rem;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary_upload--nid {
  width: 100%;
  height: 25rem;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary_button {
  display: inline-block;
  background-color: #006b57;
  border: 2px solid #006b57;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.4rem;
  padding: 1.4rem 2.4rem;
}
.primary_button--action {
  background-color: #fff;
  border: 2px solid #acacac;
  color: #acacac;
}
.primary_button--next {
  background-color: #fff;
  border: 2px solid #00815c;
  color: #00815c;
}
.primary_button--bank {
  padding: 1.4rem 4.8rem;
}
/* ---------- x ---------- */
/* -------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------------------------- */
/* ---------- Grid - Start ---------- */
.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.dashboard_grid--2-1 {
  grid-template-columns: 2.2fr 1fr;
  align-content: start;
}
.dashboard_grid--2-2 {
  grid-template-columns: 1fr 1.2fr;
  align-content: start;
}
.dashboard_grid--1 {
  grid-template-columns: 1fr;
  align-content: start;
}

.primary_grid--1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}
.primary_grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}
.primary_grid--5-custom {
  display: grid;
  grid-template-columns: 6.4rem 1fr 12.8rem 12.8rem 0.5fr;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}
.primary_grid--6-custom {
  display: grid;
  grid-template-columns: 6.4rem 1fr 12.8rem 12.8rem 0.5fr auto;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}
/* ---------- Grid - End ---------- */
/* -------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------------------------- */
/* ---------- x ---------- */
.primary_flex-box--left {
  display: flex;
  justify-content: flex-start;
}
.primary_flex-box--right {
  display: flex;
  justify-content: flex-end;
}
/* ---------- Default ---------- */
/* ----------------------------- */
