/* --------------- */
/* Message - Start */
.section-message {
  width: 100vw;
  min-height: 100vh;

  background-color: rgba(0, 107, 87, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3.2rem;
}

.message_container {
  max-width: 120rem;
  min-height: calc(100vh - 25vh);
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
  padding: 12.8rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message_icon {
  margin-bottom: 2.4rem;
}

.message_title {
  font-size: 6.2rem;
  font-weight: 700;
  color: #006b57;
  text-align: center;

  margin-bottom: 2.4rem;
}

.message_description {
  max-width: 75rem;

  font-size: 1.6rem;
  font-weight: 400;
  color: #232d42;
  text-align: center;
  line-height: 1.6;

  margin-bottom: 3.2rem;
}

.button {
  background-color: #006b57;
  color: #fff;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 0.4rem;
}

.message_button:link,
.message_button:visited {
  text-decoration: none;
  padding: 1.6rem 2.4rem;
  transition: all 0.2s;
}
.message_button:hover,
.message_button:active {
  box-shadow: none;
  background-color: #006351;
}
/* Message - End */
/* ------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------------- */
/* Form : Sign In - Start */
.section-signin {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.signin_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.signin_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.signin_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin_form {
  max-width: 45rem;
  flex-grow: 1;
}

.signin_box-1,
.signin_box-2,
.signin_box-3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.signin_box-1 {
  margin-bottom: 4.8rem;
}
.signin_box-2 {
  margin-bottom: 2.4rem;
}
.signin_box-3 {
  margin-bottom: 1.6rem;
}
.signin_box-4 {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.signin_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.signin_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.signin_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.signin_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.signin_input-text:focus {
  outline: 1px solid #006b57;
}

.signin_input-checkbox {
  margin-right: 0.8rem;
}
.signin_forgot-text:link,
.signin_forgot-text:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #006b57;
  margin-left: auto;
}
.signin_forgot-text:hover,
.signin_forgot-text:active {
  text-decoration: underline;
}

.signin_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
  margin-bottom: 4.8rem;
}
.signin_button:hover {
  box-shadow: none;
  background-color: #006351;
}

.signin_account-text {
  font-size: 1.6rem;
  color: #0a1b2b;
}

.signin_link-signup:link,
.signin_link-signup:visited {
  text-decoration: none;
  font-weight: 500;
  color: #006b57;
}
.signin_link-signup:hover,
.signin_link-signup:active {
  text-decoration: underline;
}
/* Form : Sign In - End */
/* -------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------------- */
/* Form : Sign Up - Start */
.section-signup {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.signup_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.signup_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.signup_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup_form {
  max-width: 45rem;
  flex-grow: 1;
}

.signup_box-1,
.signup_box-2,
.signup_box-3,
.signup_box-4,
.signup_box-5,
.signup_first-name-box,
.signup_last-name-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.signup_box-1 {
  margin-bottom: 4.8rem;
}
.signup_box-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.signup_box-3,
.signup_box-4 {
  margin-bottom: 2.4rem;
}
.signup_box-5 {
  margin-bottom: 1.6rem;
}
.signup_box-6 {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.signup_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.signup_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.signup_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.signup_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.signup_input-text:focus {
  outline: 1px solid #006b57;
}

.signup_input-checkbox {
  margin-right: 0.8rem;
}

.signup_link-signin:link,
.signup_link-signin:visited {
  text-decoration: none;
  font-weight: 500;
  color: #006b57;
}
.signup_link-signin:hover,
.signup_link-signin:active {
  text-decoration: underline;
}

.signup_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
  margin-bottom: 4.8rem;
}
.signup_button:hover {
  box-shadow: none;
  background-color: #006351;
}
/* Form : Sign Up - End */
/* -------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ------------------------------ */
/* Form : Forgot Password - Start */
.section-forgot {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.forgot_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.forgot_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.forgot_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot_form {
  max-width: 45rem;
  flex-grow: 1;
}

.forgot_box-1,
.forgot_box-2 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.forgot_box-1 {
  margin-bottom: 4.8rem;
}
.forgot_box-2 {
  margin-bottom: 4.8rem;
}

.forgot_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.forgot_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.forgot_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.forgot_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.forgot_input-text:focus {
  outline: 1px solid #006b57;
}

.forgot_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
}
.forgot_button:hover {
  box-shadow: none;
  background-color: #006351;
}

.signup_account-text {
  font-size: 1.6rem;
  color: #0a1b2b;
}
/* Form : Forgot Password - End */
/* ---------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------------------- */
/* Form : Reset Password - Start */
.section-reset {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.reset_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.reset_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.reset_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset_form {
  max-width: 45rem;
  flex-grow: 1;
}

.reset_box-1,
.reset_box-2,
.reset_box-3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.reset_box-1 {
  margin-bottom: 4.8rem;
}
.reset_box-2 {
  margin-bottom: 2.4rem;
}
.reset_box-3 {
  margin-bottom: 4.8rem;
}

.reset_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.reset_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.reset_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.reset_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.reset_input-text:focus {
  outline: 1px solid #006b57;
}

.reset_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
}
.reset_button:hover {
  box-shadow: none;
  background-color: #006351;
}
/* Form : Reset Password - End */
/* --------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------- */
/* Dashboard - Start */
.sections {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 7rem 1fr;
}

.section-navbar {
  background-color: #ffffff;
  box-shadow: 0 0 0.2rem rgba(0, 107, 87, 0.1);
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  order: 1;
}

.navbar_scroll-box {
  height: calc(100vh - 7rem);
  overflow: auto;
}

/* Logo */
.navbar_logo-box {
  /* background-color: #d9f99d; */
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 2.4rem;
}
.navbar_logo-name-top {
  font-size: 1.6rem;
  font-weight: 700;
  color: #013580;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}
.navbar_logo-name-bottom {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #013580;
}

/* Dashboard */
.navbar_dashboard-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1.6rem 0 0.8rem 0;
  padding-right: 3rem;
}
.navbar_dashboard-bar {
  background-color: #fff;
  width: 0.6rem;
  height: 4.8rem;
  margin-right: 2.4rem;
}
.navbar_dashboard-icon {
  margin-right: 1.6rem;
}
.navbar_dashboard-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #819cb5;
}
.navbar_dashboard-icon--active path {
  fill: #006b57;
}
.navbar_dashboard-bar--active {
  background-color: #006b57;
}
.navbar_dashboard-name--active {
  color: #006b57;
}

/* List */
.navbar_lists-box {
  padding-bottom: 1.6rem;
}
.navbar_list-box {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.navbar_list-item {
  display: flex;
  align-items: center;
  padding: 1.2rem 3rem;
}
.navbar_list-icon-left {
  margin-right: 1.6rem;
}
.navbar_list-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #819cb5;
}
.navbar_list-icon-right {
  margin-left: auto;
}
.navbar_list-icon-left--active path {
  fill: #013580;
}
.navbar_list-name--active {
  color: #013580;
}
.navbar_list-icon-right--active path {
  fill: #013580;
}
.navbar_sublist-items {
  padding-right: 3rem;
}
.navbar_sublist-item {
  display: flex;
  align-items: center;
}
.navbar_sublist-bar {
  background-color: #fff;
  width: 0.6rem;
  height: 3.2rem;
  margin-right: 3.2rem;
}
.navbar_sublist-icon {
  margin-right: 1.6rem;
}
.navbar_sublist-name {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #819cb5;
}
.navbar_sublist-bar--active {
  background-color: #006b57;
}
.navbar_sublist-icon--active path {
  stroke: #006b57;
}
.navbar_sublist-name--active {
  color: #006b57;
}
.navbar_divider {
  background-color: #d0d3db;
  height: 0.1rem;
  margin: 1.6rem 3rem;
}
.navbar_hide-button {
  position: absolute;
  right: -1.8rem;
  top: 50%;
  transform: translateY(-50%);

  background-color: #013580;
  border-radius: 50%;
  height: 3.6rem;
  width: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  background-color: #00815c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}
.header_search-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #e9ecef;
  border-radius: 0.4rem;
  padding: 0.4rem 1.2rem;
}
.header_search-icon {
  margin-right: 1.2rem;
}
.header_search-bar {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border: none;
  width: 30rem;
  height: 3rem;
  font-size: 1.6rem;
}
.header_search-bar::placeholder {
  color: #adb5bd;
}
.header_search-bar:focus {
  outline: none;
}
.header_information-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header_info-icon {
  cursor: pointer;
}
.header_profile-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}
.header_profile-image-box {
  background-color: #fff;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  overflow: hidden;
}
.header_profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_profile-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #232d42;
}
/* Dashboard - End */
/* --------------- */

.primary_container {
  background-color: #e5f4ef;
}
