/* --------------- */
/* Message - Start */
.section-message {
  width: 100vw;
  min-height: 100vh;

  background-color: rgba(0, 107, 87, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3.2rem;
}

.message_container {
  max-width: 120rem;
  min-height: calc(100vh - 25vh);
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  padding: 12.8rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message_icon {
  margin-bottom: 2.4rem;
}

.message_title {
  font-size: 6.2rem;
  font-weight: 700;
  color: #006b57;
  text-align: center;

  margin-bottom: 2.4rem;
}

.message_description {
  max-width: 75rem;

  font-size: 1.6rem;
  font-weight: 400;
  color: #232d42;
  text-align: center;
  line-height: 1.6;

  margin-bottom: 3.2rem;
}

.button {
  background-color: #006b57;
  color: #fff;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 0.4rem;
}

.message_button:link,
.message_button:visited {
  text-decoration: none;
  padding: 1.6rem 2.4rem;
  transition: all 0.2s;
}
.message_button:hover,
.message_button:active {
  box-shadow: none;
  background-color: #006351;
}
/* Message - End */
/* ------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------------- */
/* Form : Sign In - Start */
.section-signin {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.signin_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.signin_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.signin_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin_form {
  max-width: 45rem;
  flex-grow: 1;
}

.signin_box-1,
.signin_box-2,
.signin_box-3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.signin_box-1 {
  margin-bottom: 4.8rem;
}
.signin_box-2 {
  margin-bottom: 2.4rem;
}
.signin_box-3 {
  margin-bottom: 1.6rem;
}
.signin_box-4 {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.signin_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.signin_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.signin_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.signin_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.signin_input-text:focus {
  outline: 1px solid #006b57;
}

.signin_input-checkbox {
  margin-right: 0.8rem;
}
.signin_forgot-text:link,
.signin_forgot-text:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #006b57;
  margin-left: auto;
}
.signin_forgot-text:hover,
.signin_forgot-text:active {
  text-decoration: underline;
}

.signin_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
  margin-bottom: 4.8rem;
}
.signin_button:hover {
  box-shadow: none;
  background-color: #006351;
}

.signin_account-text {
  font-size: 1.6rem;
  color: #0a1b2b;
}

.signin_link-signup:link,
.signin_link-signup:visited {
  text-decoration: none;
  font-weight: 500;
  color: #006b57;
}
.signin_link-signup:hover,
.signin_link-signup:active {
  text-decoration: underline;
}
/* Form : Sign In - End */
/* -------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------------- */
/* Form : Sign Up - Start */
.section-signup {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.signup_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.signup_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.signup_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup_form {
  max-width: 45rem;
  flex-grow: 1;
}

.signup_box-1,
.signup_box-2,
.signup_box-3,
.signup_box-4,
.signup_box-5,
.signup_first-name-box,
.signup_last-name-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.signup_box-1 {
  margin-bottom: 4.8rem;
}
.signup_box-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.signup_box-3,
.signup_box-4 {
  margin-bottom: 2.4rem;
}
.signup_box-5 {
  margin-bottom: 1.6rem;
}
.signup_box-6 {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.signup_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.signup_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.signup_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.signup_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.signup_input-text:focus {
  outline: 1px solid #006b57;
}

.signup_input-checkbox {
  margin-right: 0.8rem;
}

.signup_link-signin:link,
.signup_link-signin:visited {
  text-decoration: none;
  font-weight: 500;
  color: #006b57;
}
.signup_link-signin:hover,
.signup_link-signin:active {
  text-decoration: underline;
}

.signup_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
  margin-bottom: 4.8rem;
}
.signup_button:hover {
  box-shadow: none;
  background-color: #006351;
}
/* Form : Sign Up - End */
/* -------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ------------------------------ */
/* Form : Forgot Password - Start */
.section-forgot {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.forgot_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.forgot_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.forgot_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot_form {
  max-width: 45rem;
  flex-grow: 1;
}

.forgot_box-1,
.forgot_box-2 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.forgot_box-1 {
  margin-bottom: 4.8rem;
}
.forgot_box-2 {
  margin-bottom: 4.8rem;
}

.forgot_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.forgot_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.forgot_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.forgot_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.forgot_input-text:focus {
  outline: 1px solid #006b57;
}

.forgot_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
}
.forgot_button:hover {
  box-shadow: none;
  background-color: #006351;
}

.signup_account-text {
  font-size: 1.6rem;
  color: #0a1b2b;
}
/* Form : Forgot Password - End */
/* ---------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------------------- */
/* Form : Reset Password - Start */
.section-reset {
  background-color: rgba(0, 107, 87, 0.15);
  padding: 3.2rem;
}

.reset_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3.2rem;
  align-content: center;
}

.reset_image {
  width: calc(100vw - (50vw + 4.8rem));
  height: calc(100vh - 6.4rem);
  object-fit: cover;
  position: fixed;
  border-radius: 4rem;
}

.reset_form-box {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset_form {
  max-width: 45rem;
  flex-grow: 1;
}

.reset_box-1,
.reset_box-2,
.reset_box-3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.reset_box-1 {
  margin-bottom: 4.8rem;
}
.reset_box-2 {
  margin-bottom: 2.4rem;
}
.reset_box-3 {
  margin-bottom: 4.8rem;
}

.reset_title {
  font-size: 3rem;
  font-weight: 600;
  color: #0a1b2b;
}
.reset_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}

.reset_label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #819cb5;
}
.reset_input-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.2rem;
}
.reset_input-text:focus {
  outline: 1px solid #006b57;
}

.reset_button {
  text-decoration: none;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 107, 87, 0.25);
  transition: all 0.2s;
  padding: 1.6rem 7rem;
}
.reset_button:hover {
  box-shadow: none;
  background-color: #006351;
}
/* Form : Reset Password - End */
/* --------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ---------------- */
/* Sections - Start */
.sections {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 7rem 1fr;
}
.sections--hide {
  grid-template-columns: auto 1fr;
}
/* Sections - End */
/* -------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* --------------- */
/* Section - Start */
.section_navbar {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  order: 999;
  /* - */
  background-color: #ffffff;
  box-shadow: 0 0 0.2rem rgba(0, 107, 87, 0.2);
}
.section_header {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  /* - */
  background-color: #00815c;
  /* - */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* - */
  padding: 0 3.2rem;
}
.section_primary {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  /* - */
  background-color: #e5f4ef;
  overflow: auto;
  /* - */
  padding: 2.4rem;
}
/* Section - End */
/* ------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* --------------------------------- */
/* ----- Navbar : Logo - Start ----- */
.navbar_hide {
  display: none !important;
}
.navbar_logo-box--1 {
  position: relative;
  height: 7rem;
  /* - */
  display: flex;
  align-items: center;
  gap: 1.2rem;
  /* - */
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.navbar_logo-box--2 {
  text-decoration: none;
  cursor: pointer;
  /* - */
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
/* .navbar_name-box {
  display: block;
} */
.navbar_name--1 {
  color: #013580;
  font-size: 1.6rem;
  font-weight: 700;
  /* - */
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}
.navbar_name--2 {
  color: #013580;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar_hide-button {
  position: absolute;
  top: 50%;
  right: -1.8rem;
  transform: translateY(-50%);
  /* - */
  background-color: rgba(1, 54, 128, 0.2);
  border-radius: 50%;
  cursor: pointer;
  height: 3.6rem;
  width: 3.6rem;
  /* - */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}
.navbar_hide-button:hover {
  background-color: rgba(1, 54, 128, 1);
}
/* ------ Navbar : Logo - End ------ */
/* --------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ----------------------------------- */
/* ----- Navbar : Scroll - Start ----- */
.navbar_scroll-box {
  /* background-color: #74b9ff; */
  height: calc(100vh - 7rem);
  overflow: auto;
}
/* ------ Navbar : Scroll - End ------ */
/* ----------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* -------------------------------------- */
/* ----- Navbar : Dashboard - Start ----- */
.navbar_dashboard-box {
  display: flex;
  align-items: center;
  /* - */
  text-decoration: none;
  cursor: pointer;
  /* - */
  padding-right: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}
.navbar_dashboard-bar {
  background-color: #fff;
  width: 0.6rem;
  height: 4.8rem;
  /* - */
  margin-right: 1.8rem;
}
.navbar_dashboard-icon {
  width: 4rem;
  /* ----- */
  margin-right: 0.8rem;
}
.navbar_dashboard-name {
  color: #819cb5;
  font-size: 1.6rem;
  font-weight: 600;
}
.navbar_dashboard-icon--active path {
  fill: #006b57;
}
.navbar_dashboard-bar--active {
  background-color: #006b57;
}
.navbar_dashboard-name--active {
  color: #006b57;
  font-weight: 700;
}
/* ------ Navbar : Dashboard - End ------ */
/* -------------------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* --------------------- */
/* Navbar : List - Start */
.navbar_lists-box {
  margin-bottom: 1.6rem;
}
.navbar_list-box {
  display: flex;
  flex-direction: column;
  /* - */
  cursor: pointer;
}

.navbar_item-box {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* - */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 1.6rem;
}
.navbar_item-icon {
  flex-shrink: 0;
  width: 4rem;
  /* --------------- */
  margin-right: 0.8rem;
}
.navbar_item-name {
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #819cb5;
  margin-right: 6.4rem;
}
.navbar_item-icon--active path {
  fill: #013580;
}
.navbar_item-name--active {
  color: #013580;
  font-weight: 700;
}

.navbar_subitems-box {
  display: none;
}
.navbar_subitems-box--show {
  display: block;
}
.navbar_subitem-box--2 {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* - */
  padding-right: 1.6rem;
}
.navbar_subitem-bar {
  flex-shrink: 0;
  background-color: #fff;
  width: 0.6rem;
  height: 3.2rem;
  /* --------------- */
  margin-right: 3.2rem;
}
.navbar_subitem-icon {
  flex-shrink: 0;
  width: 4rem;
  /* --------------- */
  margin-right: 0.8rem;
}
.navbar_subitem-name {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #819cb5;
}
.navbar_subitem-bar--active {
  background-color: #006b57;
}
.navbar_subitem-icon--active path {
  stroke: #006b57;
}
.navbar_subitem-name--active {
  color: #006b57;
  font-weight: 600;
}

.navbar_divider {
  background-color: #d0d3db;
  height: 0.1rem;
  /* --------------- */
  margin: 1.6rem 2.4rem;
}
/* Navbar : List - End */
/* ------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/

.header_search-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #e9ecef;
  border-radius: 0.4rem;
  padding: 0.4rem 1.2rem;
}
.header_search-icon {
  margin-right: 1.2rem;
}
.header_search-bar {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border: none;
  width: 30rem;
  height: 3rem;
  font-size: 1.6rem;
}
.header_search-bar::placeholder {
  color: #adb5bd;
}
.header_search-bar:focus {
  outline: none;
}
.header_information-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header_info-icon {
  cursor: pointer;
}
.header_profile-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}
.header_profile-image-box {
  background-color: #fff;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  overflow: hidden;
}
.header_profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_profile-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #232d42;
}
/* Dashboard - End */
/* --------------- */

.primary_container {
  background-color: #fff;
  border-radius: 0.4rem;
  min-height: 100%;
  padding: 3.2rem;
}
.primary_form-box {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.primary_add-information-box {
  grid-column: 1 / -1;
  height: 5.2rem;
  background-color: #d5e3e1;
  border: 2px solid #d5e3e1;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #006b57;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary_edit-icon-box {
  display: flex;
  align-items: end;
  margin-bottom: 2.6rem;
}

.primary_table-box {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-bottom: 3.2rem;
}
.primary_table-row {
  border-bottom: 1px solid #cbcbcb;
}
.primary_table-row .primary_table-heading:first-child,
.primary_table-row .primary_table-content:first-child {
  text-align: right;
}
.primary_table-content svg :first-child {
  stroke: #cbcbcb;
}
.primary_table-heading,
.primary_table-content {
  font-size: 1.6rem;
  font-weight: 500;
  color: #515151;
  text-align: left;
  padding: 2rem 1.2rem;
}
.primary_table-heading {
  font-weight: 600;
  color: #00815c;
}
.primary_table-heading--tick {
  width: 5rem;
}
.primary_table-heading--no {
  width: 20rem;
}
.primary_table-heading--date {
  width: 25rem;
}
.primary_table-heading--invoice {
  width: 20rem;
}
.primary_table-heading--edit {
  width: 7.5rem;
}
.primary_table-heading--type {
  width: 20rem;
}
.primary_table-heading--30 {
  width: 30rem;
}
.primary_table-heading--25 {
  width: 25rem;
}
.primary_table-heading--20 {
  width: 20rem;
}

.primary_pagination-box {
  display: flex;
  justify-content: space-between;
}
.primary_pagination-right-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary_page {
  font-size: 1.6rem;
  font-weight: 500;
  color: #515151;
  margin-right: 3.2rem;
}

.primary_button-bank-box {
  margin-bottom: 4.8rem;
}

.primary_add-bank-accounts-box {
  margin-bottom: 3.2rem;
}

.primary_send-sms-box {
  margin-bottom: 6.4rem;
}
.primary_sms-box {
  position: relative;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  align-items: start;
  column-gap: 2.4rem;
}

.primary_add-number-box {
  /* background-color: #d9f99d; */
  box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c9c9c9;
  border-radius: 0.4rem;
  overflow: hidden;
}
.primary_add-number {
  border: none;
  border-bottom: 1px solid #c9c9c9;
  box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
}
.primary_suggestion-box {
  padding: 1.2rem 1.6rem;
}
.primary_text-suggestion {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #acacac;
  margin-bottom: 1.6rem;
}
.primary_suggestion-list-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.primary_suggestion-list {
  font-size: 1.6rem;
  font-weight: 500;
  color: #515151;
}

.primary_message-box {
  /* background-color: #bae6fd; */
  box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c9c9c9;
  border-radius: 0.4rem;
  overflow: hidden;
}
.primary_message {
  min-width: 100%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 2.4rem 2.4rem;
}
.primary_message-limit {
  font-size: 1.6rem;
  font-weight: 500;
  color: #515151;
  padding: 1.6rem 2.4rem 2.4rem 2.4rem;
}

.primary_button--send-sms {
  position: absolute;
  right: 2.4rem;
  bottom: 0;
  transform: translateY(50%);
  padding: 1.4rem 4.8rem;
}
/* Form : Reset Password - End */
/* --------------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ------------------------ */
/* Dashboard Box #1 - Start */
.dashboard_box-1 {
  grid-column: 1 / -1;

  background-color: #013580;
  border-radius: 0.4rem;
  padding: 6.4rem 3.2rem;
}
.box1_title {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.box1_description {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}
/* Dashboard Box #1 - End */
/* ---------------------- */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* -------------------------- */
/* Dashboard Box #2.1 - Start */
.dashboard_box2-1 {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 2.4rem;
}
.box2-1_container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.box2-1_title {
  color: #232d42;
  font-size: 2rem;
  font-weight: 600;
}
.box2-1_container--right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.box2-1_title-sort {
  color: #8a92a6;
  font-size: 1.4rem;
  font-weight: 500;
}
.box2-1_container-2 {
  display: flex;
  justify-content: center;
}
/* Dashboard Box #2.1 - End */
/* ------------------------ */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* -------------------------- */
/* Dashboard Box #2.2 - Start */
.dashboard_box2-2 {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 2.4rem;
}
.box2-2_container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.box2-2_title {
  color: #232d42;
  font-size: 2rem;
  font-weight: 600;
}
.box2-2_container--right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.box2-2_title-sort {
  color: #8a92a6;
  font-size: 1.4rem;
  font-weight: 500;
}
.box2-2_container-2 {
  display: flex;
  justify-content: center;
}
/* Dashboard Box #2.2 - End */
/* ------------------------ */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* -------------------------- */
/* Dashboard Box #2.3 - Start */
.dashboard_box2-3 {
  grid-column: 1/-1;

  background-color: #fff;
  border-radius: 0.4rem;
  /* padding: 2.4rem; */
}
.box2-3_container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
}
.box2-3_title {
  color: #232d42;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.box2-3_description {
  color: #8a92a6;
  font-size: 1.4rem;
  font-weight: 400;
}
.box2-3_container-2 {
  width: 100%;
}

.box2-3_container-2 {
  border-collapse: collapse;
}

.box2-3_container-2 th {
  background-color: #f5f6fa;
  color: #8a92a6;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2rem;
}
.box2-3_container-2 td {
  color: #232d42;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.2rem;
}
.box2-3_container-2 tr {
  border-bottom: 1px solid #e9ecef;
}
.box2-3_container-2 tr:last-child {
  border-bottom: none;
}
.box2-3_table-circle-box {
  display: flex;
}
.box2-3_table-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #3a57e8;
  border: 2px solid #3a57e8;
  border-radius: 50%;
  font-weight: 500;
  text-transform: uppercase;
  height: 4.5rem;
  width: 4.5rem;
}
.box2-3_table-circle:not(:first-child) {
  margin-left: -1.2rem;
}
.box2-3_table-percentage-box {
  margin-bottom: 0.8rem;
}
.box2-3_table-square-box {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}
.box2-3_table-square--empty {
  background-color: #e9ecef;
  height: 1.2rem;
}
.box2-3_table-square--completed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #3a57e8;
  height: 1.2rem;
  width: 40%;
}
/* Dashboard Box #2.3 - End */
/* ------------------------ */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* -------------------------- */
/* Dashboard Box #3.1 - Start */
.dashboard_box3-1 {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 2.4rem;
  align-self: start;
}
.box3-1_container {
  display: flex;
  justify-content: space-between;
}
.box3-1_container--left,
.box3-1_container--right {
  text-align: center;
}
.box3-1_title {
  color: #232d42;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.box3-1_description {
  color: #8a92a6;
  font-size: 1.6rem;
  font-weight: 400;
}
/* Dashboard Box #3.1 - End */
/* ------------------------ */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* -------------------------- */
/* Dashboard Box #3.2 - Start */
.dashboard_box3-2 {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 2.4rem;
}
.box3-2_container-1 {
  margin-bottom: 1.2rem;
}
.box3-2_title {
  color: #232d42;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.box3-2_description-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.box3-2_description {
  color: #8a92a6;
  font-size: 1.4rem;
  font-weight: 400;
}

.box3-2_activity-container {
  /* background-color: #006351; */
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 0;
}
.box3-2_activity-title-1 {
  color: #232d42;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.box3-2_activity-title-2 {
  color: #8a92a6;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Dashboard Box #3.2 - End */
/* ------------------------ */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/* ------------------------ */
/* Dashboard Box #4 - Start */
.dashboard_box-4 {
  grid-column: 1 / -1;
}
.box4_title {
  text-align: right;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
}
/* Dashboard Box #4 - End */
/* ---------------------- */
